@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Welcome to Books, your online haven for all things books!
    Explore a world of literary wonders as you browse through our carefully curated collection of novels, non-fiction,
    and more. Whether you're an avid reader searching for your next adventure or a book enthusiast looking for hidden gems,
    our website is your go-to destination.
    Dive into the pages of imagination, knowledge, and inspiration at Books – where every book is a new adventure waiting to unfold.</p>
