@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Jaden Padayachee<br />
    Adswerve Project<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jadenpadayachee@gmail.com">jadenpadayachee@gmail.com</a><br />
</address>