@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:white">Books</h1>
    <p class="lead" style="color:white">Welcome to the Library</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Add Books", "Create", "Books")</h2>
        <p>
          Add books to the library.
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("View Books", "Index", "Books")</h2>
        <p>
            View whats currently listed.
        </p>
    </div>
   
</div>